body {
    margin-top: 0;
    background-color: black;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

#Intro * {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:540px) {
}

@media screen and (max-width:720px) {}

@media screen and (min-width:1440px) {
    p{
    font-size: 1.5em;
    }
    .navbar a{
        font-size: 0.8em;
    }
}

/* this section is for top bar navigation css*/
.navbar {
    z-index: 4;
    position: sticky;
    overflow: hidden;
    left: 0;
    background-color: rgb(193, 177, 134);
    top: 0;
    width: 100%;
    height: 10%;
    color: #224c3f;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 50%;
}


.navbar h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Luminari, Fantasy;
    justify-self: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar a {
    border: 2px solid #224c3f;
    color: #224c3f;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

/*this section is for styling the introduction section of index*/
#Intro {
    text-align: center;
    font-size: xx-large;
}

#carContainer {
    width: 70%;
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}

#road {
    width: 100%;
    position: relative;
}

#car {
    position: absolute;
    top: 70%;
    width: 25%;
    left: -25%;
}

/*section for stamp container*/
#stampContainer {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 40%;
}

#stampContainer * {
    margin: 0;
}

#stampContainer2 {
    grid-column: 2/2;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

#post {
    width: 100%;
    height: 100%;
    position: relative;
}

#stamp {
    grid-column: 2/2;
    position: absolute;
    bottom: 60%;
    width: 25%;
    left: 60%;
    opacity: 1;
}

/*styling the image of the deck of cards*/
#deck {
    width: 50%;
    height: 30%;
}

/* buttons for navigating to other pages */
.button-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Button {
    flex-basis: 20%;
    background-color: rgb(193, 177, 134);
    text-align: center;
    border: 3px solid #224c3f;
    color: #224c3f;
    font-size: 32px;
    padding: 15px 32px;
    cursor: pointer;
    transition: font-size 0.5s, background-color 0.5s;
    text-decoration: none;
}


.Button:hover {
    font-size: 35px;
    background-color: #e6c572f7;
}

/*for history.html*/
#second {
    /* min-height: 1440px; */
    display: grid;
    grid-template-columns: 5% 95%;
    justify-items: center;
    font-size: larger;
}

#timeline {
    position: sticky;
    height:100%;
}

#line {
    background-color: white;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.outerCircle {
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: rgb(242, 5, 5);
    border-radius: 50%;
    display: inline-block;
    right: 0;
    left: -14px;
    bottom: 0px;
    top: 114px;
}

.circle {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    right: 0;
    left: -9px;
    bottom: 0px;
    top: 119px;
}

/* css for text in history page */
.mainText {
    overflow-y: hidden;
    width: 100%;
}
.mainText p {
 margin: 0;
 max-height:400px;
}
#originGrid {
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;

}

#originGrid img {
    margin: auto;
    object-fit: contain;
    aspect-ratio: 1/1;
    width: 100%;
}

#originGrid :first-child() {
    text-align: left;
}

/* #spread {
    display: none;
} */
#spread img{
    height: 100%;
    width:75%
}
#spread {
    display: none;
} 
#popularity {
    display: none;
} 
#change {
    display: none;
} 

/*section for popular card game*/
/*container for the slide show*/
@media screen and (max-width: 719px) {
    #slideShowContainer {
        min-width: 300px;
        width: 100%;
        max-width: 719px;
    }

    #Popular img {
        max-height: 200px;
        height: 75%;
    }

    .caption {
        font-size: 2em;
    }
}

@media screen and (min-width: 720px) {
    #slideShowContainer {
        min-width: 720px;
        width: 100%;
    }

    #Popular img {
        max-height: 300px;
        height: 75%;
    }

    .caption {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1440px) {
    #slideShowContainer {
        min-width: 1440px;
        width: 100%;

    }

    #Popular img {
        height: 600px;
        max-height: none;
    }

    .caption {
        font-size: 1.5em;
    }
}

/* set box sizing for everything in body*/
#Popular * {
    box-sizing: border-box;
}

#slideShowContainer {
    position: relative;
    margin: auto;
    margin-top:1%;
}

/*controls the images in the container*/
#Popular img {
    border:white solid 0.2em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#Popular .dotContainer {
    text-align: center;
}

/*style for the arrows*/
.prev,.next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev{
    left:2.5%;
}
/* move right arrow to the right*/
.next {
    right:2.5%;
    border-radius: 3px 0 0 3px;
}

/* change arrow color on hover*/
.prev:hover,
.next:hover {
    background-color: rgba(126, 40, 40, 0.8);
}

/* Caption text */
.caption {
    background-color: black;
    opacity: 0.8;
    color: #f2f2f2;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 90%;
    margin-left: 5%;

    text-align: center;
}

/* Number text (1/3 etc) */
.slideNum {
    background-color: rgb(212, 20, 20);
    color: black;
    font-size: 1.5em;
    left:5%;   
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dot indicator of what slide you are on */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fadeSlide;
    animation-duration: 1.5s;
}

@keyframes fadeSlide {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*section is for other uses html page*/
#usesMain {
    box-sizing:border-box;
    position:absolute;  
    left:5%;
    margin-right:5%;
    padding:1%;
    border:solid aliceblue 0.1em;
}
#usesMain #usesContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#usesMain img{
    width:20%;
    position: relative;
    border: white solid 0.2em;
}
.darken{
    /* filter:brightness(50%); */
    animation-name: darkenImg;
    animation-duration: 1s;
    filter: brightness(50%);
}
.hide{
    display:none;
}
@keyframes darkenImg {
from{
    filter:brightness(100%)
}
to{
    filter: brightness(50%);
}
}